/* Existing styles */


.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Three columns per row */
  grid-gap: 30px; /* Gap between items */
  padding: 20px;
  justify-items: center;
  text-align: center;
  font-size: 27px;
  font-family: fantasy;
}

.grid-item1,
.grid-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  background-color: transparent;
  color: rgb(27, 160, 27);
  font-family: fantasy;
  font-weight: bold;
}

.grid-item a {
  display: block;
  text-decoration: none;
}

.plant-img {
  width: 150px;
  height: 150px;
}

#greenhouse {
  width: 1000px;
  height: 700px;  
}
 
#greenhouse-title  {
  padding-top: 25px;
  font-size: 55px;
  color: whitesmoke
}

#greenhouse-title:hover {
  color:rgb(12, 112, 12) ;
}

#supply {
  width: 700px;
  height: 500px;
}

#body {
    padding: 10px 0px;
    height: 900px;
    background: #31c48d;
    background-size: cover;    
}

.vegetables-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  grid-gap: 80px; /* Gap between items */
  padding: 40px;
}

.add-to-cart-button {
  border: 2px solid green;
  background-color: green;
  color: white;
  border-radius: 4px;
  /* Add any additional styles here */
}

.add-to-cart-button:hover {
  background-color: white;
  color: green;
}

.leafy-greens-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  grid-gap: 80px; /* Gap between items */
  padding: 40px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.cart-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 20px;
}

.cart-table th,
.cart-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.payment-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.payment-details h2 {
  margin-bottom: 10px;
}

.payment-details input {
  margin-bottom: 10px;
  padding: 8px;
  width: 300px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.payment, 
.shipping {
  flex: 1;
  margin-right:20px;
}

#plant-name {
  text-align: center;
}

/* New styles for categories */
.categories-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.plants-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  grid-gap: 10px; /* Gap between items */
  padding: 10px;
}

.grid-item {
  align-items: center;
  justify-items: center;
  border: 1px solid #ddd;
  padding: 1px;
  font-size: 23px;
  width: 150px;
  height: 320px;
}
ß
.grid-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.grid-item p {
  margin: 5px 0;
}

.plant-name-wrapper {
  display: flex;
  width: 150px;
  height: 70px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: orange;
}