.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

.heading {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.inputField {
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    font-size: 1em;
    outline: none;
}

.createBtn {
    padding: 1em;
    font-size: 1em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.createBtn:hover {
    background-color: #555;
}

.textarea {
  resize: vertical;
  min-height: 150px;
}