.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

.heading {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.competitionItem {
    background-color: #fff;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.competitionsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.competitionItem {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.competitionLink {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}
