html {
    background-color: #32CD32;
}

img {
  width: 200px;
  height: 150px; 
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 2em 0;
}

.heading {
    font-size: 1.8em;
    margin-bottom: 1em;
    text-align: center;
    color: #333;
}

.submitBtn {
    display: block;
    width: 200px;
    height: 45px;
    margin: 20px auto;
    background: #6c63ff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}

.submitBtn a {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
}

.postsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.postItem {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1em;
}

.postItem img {
    width: 100%;
    height: auto;
}

.userName, .description, .createdAt {
    margin: 0.5em 0;
}

.description, .createdAt {
    font-size: 0.9em;
}

.backBtn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.backBtn a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}


.backBtn:hover {
    background-color: #ddd;
}
