.top-bar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-top: 30px;
  background-color: #31c48d;
  font-size: 35px;
  font-family: fantasy;
  border-bottom: #333;
  border-width: 2px;
  overflow: hidden;
  backface-visibility: hidden;
}


.top-bar ul {
  display: flex;
}

.top-bar li {
  margin: 0 10px;
}

.top-bar a {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px;

}

.top-bar a:hover {
  background-color: #14c120;
}

.body {
    padding: 10px 0px;
    height: 1500px;
    background: url("assets/images/green-fingers-logo.png") no-repeat ;
    background-size: cover;   
    background-size: 70%;
    background-position: top;
    background-color: #31c48d; 
}

 h1 { 
  text-align: center;
  color: #31c48d;
  font-size: 80px;
  font-family: fantasy;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 20px;
}


header {
    background-color: white;
}
